<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/bootstrap.min-3.css">


</head>

<body class=>
  <div class="container-fluid">
    <div class="jumbotron text-center" style="background-image: url(https://wallpaperplay.com/walls/full/c/9/0/11412.jpg)">
      <h1>Visit Mars</h1>
      <p>Press Button to Start Scraping Mars</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
  </div>

  <!-- News Section -->
  <div class="container">
    <div class="col col-12">

      <h2>Check out the lastest news from Mars</h2>
      <p> Today's Headline: {{ mars.title }}</p>
      <p> Summary: {{ mars.paragraph }}</p>

    </div>
  </div>

  <div class="container">
    <div class="col col-12">

      <!-- Featured Img -->
      <div class="col col-lg-6 col-6">
        <h2>Today's Featured Image</h2>
        <img src="{{ mars.featured_img }}" class="thumbnail img-responsive">
      </div>

      <!--Latest Tweet-->
      <div class="col col-lg-6 col-6">
        <div class="col col-lg-6 col-6">
          <h2>Here is the latest weather from Mars</h2>
          <p> {{ mars.mars_weather}}</p>
        </div>

        <div class="col col-lg-6 col-6">
          <h2>Some cool Mars Facts</h2>
          <p>{{ mars.table|safe}}</p>
        </div>

      </div>

    </div>
  </div>

  <!-- Hemishpere Section -->
  <div class="container">
    <div class="col col-12">
      <h2> Here is a closer look at the hemispheres of Mars </h2>

      <div class="row">

        <div class="col col-lg-5 col-6">
          <p> {{ mars.hemis_urls[0].title }}</p>
          <img src="{{ mars.hemis_urls[0].img_url }}" class="thumbnail img-responsive">
        </div>

        <div class="col col-lg-5 col-6">
          <p> {{ mars.hemis_urls[1].title }}</p>
          <img src="{{ mars.hemis_urls[1].img_url }}" class="thumbnail img-responsive">
        </div>

      </div>

      <div class="row">
        <div class="col col-lg-5 col-6">
          <p> {{ mars.hemis_urls[2].title }}</p>
          <img src="{{ mars.hemis_urls[2].img_url }}" class="thumbnail img-responsive">
        </div>

        <div class="col col-lg-5 col-6">
          <p> {{ mars.hemis_urls[3].title }}</p>
          <img src="{{ mars.hemis_urls[3].img_url }}" class="thumbnail img-responsive">
        </div>

      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>